<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="./styles.css"/>
		<meta name="viewport" content="width=device-width, initial-scale=1">
    <title>GE&#9673;MI&#9651;</title>
  </head>
  <body>
    <div id="app">
			
			<div class="navigation">
				<nav>
					<label for="show-menu" class="show-menu">Show Menu</label>
					<input type="checkbox" id="show-menu" role="button">
					<ul id="menu">
	    			<li><a href="/">GE&#9673;MI&#9651;</a></li>
						<li><a href="/battle.html">BATTLE</a></li>
<!--						<li><a href="/reviews.html">REVIEWS</a></li>-->
					</ul>
				</nav>
			</div>
			
			<div id="battle_area">
			
				<div id="shape_selection">
      		<ul>
						<li v-for="(shape, index) in shapes">
							<character :name=shape.name :image=shape.image v-on:click.native="selectShape(index)"></character>
						</li>
					</ul>
				</div>
			
				<div id="selected">
					<div v-if="selected_shape > -1">
						<character :name=shapes[selected_shape].name :image=shapes[selected_shape].image></character>
					</div>
					<div v-else>
						<p>
								Select Your Hero
						</p>
					</div>
				</div>
			
				<div id="battle_button">
      		<div class="button" v-if="selected_distortion > -1 && selected_shape > -1" v-on:click="fight">
						FIGHT
					</div>
					<div class="button" v-else-if="selected_shape > -1" v-on:click="selectRandomDistortion">
						RANDOM ENEMY
					</div>
				</div>
				
				<div id="winner">
      		<div v-if="winner != ''">
						<div v-if="winner.shape">
							<character name="You Win" :image=shapes[winner.index].image></character>
						</div>
						<div v-else id="enemy">
							<character name="You Lose" :image=distortions[winner.index].image></character>
						</div>
					</div>
				</div>
			
				<div id="selected_enemy">
					<div v-if="selected_distortion > -1">
						<character :name=distortions[selected_distortion].name :image=distortions[selected_distortion].image></character>
					</div>
					<div v-else>
						<p>
								Select Distortion
						</p>
					</div>
				</div>
			
				<div id="enemy_lineup">
					<ul>
						<li v-for="(distortion, index) in distortions">
							<character :name=distortion.name :image=distortion.image v-on:click.native="selectDistortion(index)"></character>
						</li>
					</ul>
				</div>
				
				<div class="spacer1"></div>
				<div class="spacer2"></div>
				<div class="spacer3"></div>
				
			</div>
    </div>
		<footer>
		<a href="https://github.com/smithskyler/cs260Geomia">GitHub</a>
		</footer>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.13/dist/vue.js"></script>
    <script src="./script.js"></script>
  </body>
</html>
